.product-selection 
    .product-selection__products 
        .product-selection__product
            .loader
            img.product-selection__product-pic
        .product-selection__product
            .loader 
            img.product-selection__product-pic
        .product-selection__product 
            .loader
            img.product-selection__product-pic
        .product-selection__product
            .loader 
            img.product-selection__product-pic
    .product-selection__modes 
        .product-selection__mode.product-selection__mode_day
        .product-selection__mode.product-selection__mode_night