@font-face {
    font-family: 'SF Compact Display';
    src: url('../fonts/sf-compact-display-medium-webfont.woff'),
    url('../fonts/sf-compact-display-medium-webfont.woff2');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'SF Compact Display';
    src: url('../fonts/sf-compact-display-regular-webfont.woff'),
    url('../fonts/sf-compact-display-regular-webfont.woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'SF Compact Display';
    src: url('../fonts/sf-compact-display-thin-webfont.woff'),
    url('../fonts/sf-compact-display-thin-webfont.woff2');
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'SF Compact Display';
    src: url('../fonts/sf-compact-display-ultralight-webfont.woff'),
    url('../fonts/sf-compact-display-ultralight-webfont.woff2');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}
