$font-family:                "SF Compact Display", sans-serif;
$font-size:                   2vmin;
$font-size--mobile:           3.5vmin;
$line-height:                 1.5;

$text-color:black;
$body-bg: #DBEEEE;
$link-color--hover: #3d9090a9;
$header-links: #3D9090;
$features-bg: #F0E0C9;
$product-card-border: 1px solid #C4C4C4;
$product-selection-bg: #BDDDDD;
$product-selection-day-mode: #FFF3DA;
$product-selection-night-mode: #94A6A6;
$scrollbar-thumb: #94A6A6;

$screen-xs: 0;
$screen-sm: 485px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1800px;

