header.header 
    a.header__logo-link(href="#")
        img.header__logo-pic(src="img/logo.svg")
    ul.header__list
        li.header__item
            a.header__link="Collections"
        li.header__item
            a.header__link="Blog"
        li.header__item
            a.header__link="About"
        li.header__item
            a.header__link="Contacts"
    .header__burger-icon
