.features 
    ul.features__list
        li.features__item 
            span.features__item-property Material: 
            span.features__item-value#material Metal
        li.features__item 
            span.features__item-property Dimensions (cm): 
            span.features__item-value#dimensions H 45 x W 12 x D 12
        li.features__item 
            span.features__item-property Net Weight: 
            span.features__item-value#weight 2,4 kg
        li.features__item 
            span.features__item-property Electrification: 
            span.features__item-value#electrification LED 10W | G9 |  220-240V | 50 Hz
